/* globals.css */

/* --- RESET & FONT IMPORT --- */

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #0b1a1f;
  color: #bdc4c6;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* --- LOGO --- */

.fixed-zelim-logo {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    opacity: 1; 
    top: auto;
    right: auto;
}